@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: url("./Inter-Regular.ttf") format("opentype");
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    src: url("./Inter-Bold.ttf") format("opentype");
}

@font-face {
    font-family: "Urbanist";
    font-style: normal;
    font-weight: 400;
    src: url("./Urbanist-Regular.ttf") format("opentype");
}

@font-face {
    font-family: "Urbanist";
    font-style: normal;
    font-weight: 600;
    src: url("./Urbanist-Bold.ttf") format("opentype");
}

@font-face {
    font-family: "Righteous";
    font-style: normal;
    font-weight: 400;
    src: url("./Righteous-Regular.ttf") format("opentype");
}