.container{
  padding: 7.29vw 19.53vw 4.69vw;
}

.section{
  background: #1C1814;

  display: flex;
  flex-direction: row;
  column-gap: 8.33vw;

  padding: 4.43vw 4.17vw 4.38vw 8.80vw;
}

.main{
  font-family: Righteous, serif;
  font-weight: 400;
  font-size: 2.5vw;
  color: white;
}

.description{
  margin-top: 2vw;
  text-transform: capitalize;

  font-family: Urbanist, serif;
  font-weight: 500;
  font-size: 0.83vw;
  color: #FFFFFFCC;
}

.button{
  margin-top: 2vw;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #C99E71;
  color: white;

  text-transform: uppercase;

  width: 11.2vw;
  height: 3.23vw;

  font-family: Inter, serif;
  font-size: 0.94vw;
  font-weight: 700;
;
}

.animated{
  opacity: 0;
  animation: fadeIn 2s ease-out forwards;
}

@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}