.nav{
  background: #1C1814;
  padding-left: 15.625vw;
  padding-right: 16.16vw;
  height: 125px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.textNav{
  font-family: Inter, serif;
  color: white;
}

.firstPart{
  align-items: center;
  display: flex;
  flex-direction: row;
  column-gap: 48px;
}


.logo{
}

.info{

  display: flex;
  align-items: center;
  column-gap: 48px;
}

.find{
  background: 0;
}