@import "../../utlis";

@keyframes slideDown {
  from {
    transform: translateY(-100%); /* Start from above the viewport */
    opacity:  0; /* Optionally fade in */
  }
  to {
    transform: translateY(0); /* End at the current position */
    opacity:  1; /* Fully opaque */
  }
}

.nav {
  position: sticky;
  top: 0;
  z-index: 2;

  animation: slideDown  1s ease-out forwards;

  background: #1C1814;
  padding-left: 15.625vw;
  padding-right: 16.16vw;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.textNav {
  font-family: Inter, serif;
  color: white;
}

.textNav:hover {
  transform: scale(1.2);
  filter: drop-shadow(1px  1px  3px #000000) drop-shadow(1px  1px  1px #ffcc00);
}

.firstPart {
  align-items: center;
  display: flex;
  flex-direction: row;
  column-gap: 48px;
}


.logo {
}

.info {
  display: flex;
  align-items: center;
  column-gap: 48px;
}

.find {
  background: 0;
}

.find:hover{
  transform: scale(1.2);
  filter: drop-shadow(1px  1px  3px #000000) drop-shadow(1px  1px  1px #ffcc00);
}

.basket:hover{
  transform: scale(1.2);
  filter: drop-shadow(1px  1px  3px #000000) drop-shadow(1px  1px  1px #ffcc00);
}

@include xl {
  .info{
    column-gap: 30px;
  }

  .firstPart{
    column-gap: 30px;
  }
}

@include l{
  .firstPart{
    display: none;
  }
}

@include sm{
  .hidden{
    display: none;
  }
}