.containerStories {
  display: flex;
  padding: 10.42vw 19.53vw 10.42vw 19.53vw;
}

.section {
  display: flex;
  flex-direction: column;
}

.first {
  display: flex;
  column-gap: 1.875vw;
}

.card {
  display: flex;
  flex-direction: column;
}

.tag {
  display: flex;
  column-gap: 0.625vw;
}

.number {
  font-family: Righteous, serif;
  font-weight: 400;
  font-size: 1.25vw;
  color: #C99E71;
}

.name {
  font-family: Righteous, serif;
  font-weight: 400;
  font-size: 1.25vw;
  color: white;
}

.img {
  margin-top: 1.25vw;
  width: 19.06vw;
  height: 21.875vw;
}

.second {
  margin-top: 7.29vw;
  display: flex;
  column-gap: 1.67vw;
}

.coffeephotos {
  display: flex;
  flex-direction: column;
  row-gap: 1.67vw;
}

.coffeephotos img {
  width: 15.52vw;
  height: 15.73vw;
}

.twoCups {
  width: 15.52vw;
  height: 33.07vw;
  background: url("./twoCups.jpeg") center center no-repeat;
  background-size: cover;
}

.newStory {
  padding: 6.25vw 2.92vw 2.92vw 2.92vw;
  background: #1C1814;
  display: flex;
  flex-direction: column;
}

.history {
  font-family: Urbanist, serif;
  font-weight: 600;
  font-size: 0.94vw;
  color: #C99E71;
}

.gloryText {
  margin-top: 0.625vw;
  margin-bottom: 1.875vw;
  font-family: Righteous, serif;
  font-weight: 400;
  font-size: 2.5vw;
  color: white;
}

.paragraph{
  font-family: Urbanist, serif;
  font-weight: 400;
  font-size: 0.83vw;
  color: #FFFFFFCC;
}

.animated{
  opacity: 0;
  animation: fadeIn 2s forwards;
  animation-delay: 0.5s;
}

@keyframes fadeIn {
  0%{
    opacity: 0;
  }

  100%{
    opacity: 1;
  }
}

.hidden{
  opacity: 1;
}