.main{
  display: flex;
  padding-left: 19.53vw;
  padding-top: 7.66vw;
  padding-bottom: 10.66vw;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity:  0;
  }
  100% {
    transform: translateX(0);
    opacity:  1;
  }
}

.mainText{
  opacity: 0;
  animation: slideInFromLeft  1s ease-out forwards;
  animation-delay: 2s;

  font-family: Righteous, serif;
  font-size: 3.75vw;
  font-weight: 400;
  color: white;
}

.lowText{
  opacity: 0;
  animation: slideInFromLeft  1s ease-out forwards;
  animation-delay: 3s;

  margin-top: 1.67vw;
  text-transform: capitalize;
  font-family: Urbanist, serif;
  font-weight: 500;
  font-size: 1.04vw;
  color: #FFFFFFCC;
}

@keyframes fadeIn {
  0%{
    opacity: 0;
  }

  100%{
    opacity: 1;
  }
}

.coffeeMain{
  animation: fadeIn 2s ease-out forwards;
  animation-delay: 1s;
  opacity: 0;

  margin-top: -7vw;
  position: absolute;
  z-index: -1;
  width: 99.2vw;
}



.testcoffee{

  opacity: 0;
  animation: slideInFromLeft  1s ease-out forwards;
  animation-delay: 4s;

  margin-top: 3.33vw;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #C99E71;

  font-family: Inter, serif;
  font-size: 0.94vw;
  font-weight: 800;
  text-transform: uppercase;
  color: white;

  width: 10.52vw;
  height: 3.65vw;
}

.second{
  margin-top: 16.67vw;
  margin-left: 28.125vw;
}

@keyframes scaleIn {
  0%{
    opacity: 0;
    transform: scale(0);
  }

  100%{
    opacity: 1;
    transform: scale(1);
  }
}

.buttonPlay{
  animation: scaleIn 1s ease-out forwards;
  opacity: 0;
  animation-delay: 4s;

  width: 4.84vw;
  height: 5.625vw;
  background: url("../../../assets/img/Play.svg") no-repeat center center;
  background-size: 4.84vw 5.625vw;
}